<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>VAKROG</h1>
    <p>Backlog 3rd party application using BacklogAPI</p>

    <a type="button" class="btn btn-lg btn-primary" th:href="@{/spaceform}"><span class="glyphicon glyphicon-flash"></span>Login to Space</a>
  </div>
</div>

</body>
</html>
