<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'kanban/show')}">

<body>

<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <tr>
                <th> \ </th>
                <th th:each="x :${labelX}" th:text="${x.name}"></th>
            <tr>

            <tr th:each="y: ${labelY}">
                <th th:text="${y.name}"></th>
                <td th:each="x: ${labelX}">
                    <th:block th:with="list = ${data.getListAt(x.getIdAsString(),y.getIdAsString())}">
                    <ul>
                        <li th:each="issue :${list}" th:text="${issue.getSummary()}"></li>
                    </ul>
                    </th:block>
                <td/>
            </tr>
        </table>
    </div>
</div>

</body>

</html>
